<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.refresh.member.vo.MemberVO" alias="member"/>
		<typeAlias type="com.refresh.board.vo.QBoardVO" alias="qboard"/>
		<typeAlias type="com.refresh.board.vo.ProductBoardVO" alias="pboard"/>
		<typeAlias type="com.refresh.board.vo.BoardVO" alias="board"/>
		<typeAlias type="com.refresh.board.vo.CommentVO" alias="comment"/>
		<typeAlias type="com.refresh.board.vo.PReviewVO" alias="review"/>
		<typeAlias type="com.refresh.board.vo.ReviewImageVO" alias="reviewImage"/>
		<typeAlias type="com.refresh.menu.vo.MenuVO" alias="menu"/>
		<typeAlias type="com.refresh.board.vo.OrderVO" alias="order"/>
	</typeAliases>
</configuration>
