<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto" >
	<head>
		<th:block th:insert="~{template/refresh/fragments/block :: config}"></th:block>
		<meta name="theme-color" content="#712cf9">
		<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    	<link href="/assets/dist/css/refreshmain.css" rel="stylesheet">
	</head>
	<body class="d-flex h-100 text-center text-bg-dark">
    	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    		<header class="mb-auto">
    			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    				<!-- header 추가 내용 -->
    				<th:block th:insert="~{template/refresh/fragments/block :: header}"></th:block>
    				<th:block th:insert="~{template/refresh/fragments/block :: brandName}"></th:block>
    				<th:block th:insert="~{template/refresh/fragments/block :: mainNavbar}"></th:block>
    				<th:block th:insert="~{template/refresh/fragments/block :: sideNavbar}"></th:block>
    			</nav>
    		</header>
    	
			<main class="px-3">
			
			    <div class="slider">
				    <div class="slides">
				        <div class="slide active">
				            <img src="./assets/brand/야채.png" alt="아이템 1">
				        </div>
				        <div class="slide">
				            <img src="./assets/brand/시장에서 파는 얼음위의 싱싱한 해산물.png" alt="아이템 2">
				        </div>
				        <div class="slide">
				            <img src="./assets/brand/정육점에서 파는 싱싱한 고기.png" alt="아이템 3">
				        </div>
				    </div>
				    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
				    <button class="next" onclick="changeSlide(1)">&#10095;</button>
				</div>
				
				
				<div class="specialsale">
				  <h1 class="sale-h1">Today Refresh Sale</h1>
				  <div class="products-wrapper">
				    <div th:each="product : ${saleProducts}" class="product-card">
				      <a th:href="@{/detail/{id}(id=${product.productId})}" style="text-decoration:none; color:inherit;">
				        <img th:src="@{/image/{id}(id=${product.productId})}" th:alt="${product.name}">
				        <h4 th:text="${product.name}"></h4>
				        <p th:text="'$' + ${product.price}"></p>
				      </a>
				      <p class="timer" th:id="'timer-' + ${product.productId}"></p>
				      <button class="buy-btn">Buy Now</button>
				    </div>
				  </div>
				</div>

				
				<div class="special-sale-section">
				  <h1 class="sale-heading">공동구매</h1>
				  <div class="products-container">
				    <div th:each="product : ${groupProducts}" class="sale-product-card">
				      <a th:href="@{/detail/{id}(id=${product.productId})}" style="text-decoration:none; color:inherit;">
				        <img th:src="@{/image/{id}(id=${product.productId})}" th:alt="${product.name}">
				        <h4 th:text="${product.name}"></h4>
				        <p th:text="'$' + ${product.price}"></p>
				      </a>
				      <p class="timer" th:id="'timer-group-' + ${product.productId}"></p>
				      <button class="sale-buy-btn">Buy Now</button>
				
				      <!-- 하트 버튼 -->
				      <button class="sale-like-btn" onclick="toggleLike(this)">
				        <i class="far fa-heart"></i>
				      </button>
				      <span class="like-count">0</span>
				    </div>
				  </div>
				</div>
			
				<h1 class="small-business-sale-heading">중소기업 제품</h1>
				<div class="small-business-products-wrapper">
				  <div th:each="product : ${promotionProducts}" class="small-business-product-card">
				    <a th:href="@{/detail/{id}(id=${product.productId})}" style="text-decoration:none; color:inherit;">
				      <img th:src="@{/image/{id}(id=${product.productId})}" th:alt="${product.name}">
				      <h4>
				        <span th:text="${product.name}"></span>
				        <img src="/assets/brand/로고.png" alt="Logo" class="small-business-product-logo">
				      </h4>
				      <p th:text="'$' + ${product.price}"></p>
				    </a>
				  </div>
				</div>
			</main>
    		
    		<!-- 공통 레이아웃 페이지에서 th:insert="~{파일경로 :: fragment명}"으로 명시. Fragment명을 호출하여 레이아웃을 구성할 수 있다. -->
    		<footer class="mt-auto text-white-50">
    			<th:block th:insert="~{template/refresh/fragments/block :: footer}"></th:block>
    		</footer>
    	</div>
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="/js/jquery-3.7.1.min.js"></script>
		<script src="./assets/dist/js/refreshmain.js"></script>
	</body>
</html>