<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
	<head>
	    <th:block th:insert="~{template/refresh/fragments/block :: config}"></th:block>
	    <meta name="theme-color" content="#712cf9">
	    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	    <link href="/assets/dist/css/refreshmain.css" rel="stylesheet">
	    <link href="/assets/dist/mainproductboardcss/productboard.css" rel="stylesheet"/>
	</head>
	<body class="d-flex h-100 text-center text-bg-dark">
	    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	        <header class="mb-auto">
	            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	                <th:block th:insert="~{template/refresh/fragments/block :: header}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: brandName}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: mainNavbar}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: sideNavbar}"></th:block>
	            </nav>
	        </header>
	
	        <main class="product-card-container">
			    <div th:if="${#lists.isEmpty(products)}">
				    <p>표시할 제품이 없습니다.</p>
				</div>
				
				<div th:each="product : ${products}" class="product-card"
				     th:onclick="|window.location.href='/products/detail/' + ${product.productId}|">
				
				    <img th:src="@{/products/image/{id}(id=${product.productId})}" alt="제품 이미지" class="product-image"/>
				    <h3 th:text="${product.name}">제품명</h3>
				    <p th:text="'₩' + ${product.price}">가격</p>
				    <p th:text="'재고: ' + ${product.stock}">재고</p>
				    <p th:text="${product.description}">설명</p>
				</div>
			</main>
				<div class="pagination" th:if="${totalPages >= 1}">
				    <a th:each="i : ${#numbers.sequence(1, totalPages)}"
				       th:href="@{/products(category=${selectedCategory}, page=${i})}"
				       th:text="${i}"
				       th:classappend="${i == currentPage} ? 'active'">
				    </a>
				</div>
			
	        <footer class="mt-auto text-white-50">
	            <th:block th:insert="~{template/refresh/fragments/block :: footer}"></th:block>
	        </footer>
	    </div>
	
	    <!-- External Scripts -->
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	    <script src="/js/jquery-3.7.1.min.js"></script>
	    <script src="/assets/dist/js/refreshmain.js"></script>
	     <!-- 스크립트 분리 후 파일 포함 -->
	    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</body>
</html>