<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
	<head>
	    <th:block th:insert="~{template/refresh/fragments/block :: config}"></th:block>
	    <meta name="theme-color" content="#712cf9">
	    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	    <link href="/assets/dist/css/refreshmain.css" rel="stylesheet">
	    <link rel="stylesheet" href="/assets/dist/midnav/Cart.css"/>
	</head>
	<body class="d-flex h-100 text-center text-bg-dark">
	    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	        <header class="mb-auto">
	            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	                <th:block th:insert="~{template/refresh/fragments/block :: header}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: brandName}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: mainNavbar}"></th:block>
	                <th:block th:insert="~{template/refresh/fragments/block :: sideNavbar}"></th:block>
	            </nav>
	        </header>
				
        	<h1 class="cart-intro">장바구니</h1>
    
		    <!-- 장바구니 항목이 없을 때 보일 메시지 -->
			<div id="emptyMessage" style="display: none;">
			    <p>장바구니가 비었습니다.</p>
			</div>
			
			<!-- 장바구니 항목이 표시될 영역 -->
			<div id="cartItems"></div>
			
			<!-- 버튼들을 감싸는 div -->
			<div id="buttonContainer">
			    <!-- 구매하기 버튼 -->
			    <button id="buyButton" class="buy-button">구매하기</button>
			
			    <!-- 모두 취소하기 버튼 -->
			    <button id="clearCartButton" class="clear-btn">모두 취소하기</button>
			</div>
			
			<p id="totalQuantity">총 수량: 0개</p>
			<p id="totalPrice">총 가격: ₩0</p>
        				
	        <footer class="mt-auto text-white-50">
	            <th:block th:insert="~{template/refresh/fragments/block :: footer}"></th:block>
	        </footer>
	    </div>
	
	    <!-- External Scripts -->
	    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	    <script src="/js/jquery-3.7.1.min.js"></script>
	    <script src="/assets/dist/mainproductboardjs/Cart.js"></script>
	     <!-- 스크립트 분리 후 파일 포함 -->
	    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</body>
</html>